{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h2>Dashboard</h2>
<div class="row">
    <div class="col-md-6">
        <h3>Recent Transactions</h3>
        <ul>
            <li>Transaction 1 - $100</li>
            <li>Transaction 2 - $200</li>
            <li>Transaction 3 - $300</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Account Summary</h3>
        <p>Total Accounts: 5</p>
        <p>Total Balance: $5000</p>
    </div>
</div>
{% endblock %}
